@media (max-width: 992px) {
    header {
        background-image: url(../man-1.jpg);
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        color: black;
        position: relative;
        top: 100%;
        font-family: Verdana;
        text-align: center;
    }
}


