body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: white;
}

#header img {

    width: 100%;

   
}

#header #main-header-text1 {
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 24px;
}    

#header #main-header-text2 {
    
    position: absolute;
    left: 2%;
    top: 55%;
    font-size: 30px;
    
}